---
import '@/styles/globals.css'
import { DemoPage } from "@/components";
---

<html lang="en" class="dark" style="color-scheme: dark;">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>LRN</title>
	</head>
	<body>
		<DemoPage />
	</body>
</html>
