---
---
<div class="min-w-40 w-[90vw] mx-auto h-[60vh]">
  <div class="animate-pulse rounded-full bg-muted h-36 w-36 mx-auto mt-[30vh]">
    <p class="text-2xl text-center italic pt-14">⌀</p>
  </div>
</div>